.Container {
  flex: 3;
  padding: 0 var(--offset-large) var(--offset-large) var(--offset-large);
}

.Paper {
  min-height: 50vh;
  position: relative;
  background-color: var(--grey-dark2);
}

.ChartContainer {
  height: 50vh;
  padding: 0 var(--offset-large);
}

.MakeSnapshotButton {
  padding: var(--offset-small) var(--offset-medium);
  opacity: 0.6;
  font-size: var(--text-size-min);
  background-color: var(--orange);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-fast) ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    background-color: var(--grey-dark);
    cursor: not-allowed;

    &:hover {
      opacity: 0.6;
    }
  }
}
