.Container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.Label {
  display: inline-block;
  width: 100%;
  padding: var(--offset-small) var(--offset-medium);
  border-radius: 10px;
}
