$len: 243px;

.Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
}

.AnimatedPath {
  fill: none;
  stroke: var(--blue-darker);
  stroke-dasharray: $len * 0.01, $len;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
  animation: animation 1500ms linear infinite;
}

.BackgroundPath {
  opacity: 0.2;
  fill: none;
  stroke: var(--blue);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

@keyframes animation {
  12.5% {
    stroke-dasharray: $len * 0.14, $len;
    stroke-dashoffset: -$len * 0.11;
  }
  43.75% {
    stroke-dasharray: $len * 0.35, $len;
    stroke-dashoffset: -$len * 0.35;
  }
  100% {
    stroke-dasharray: $len * 0.01, $len;
    stroke-dashoffset: -$len * 0.99;
  }
}
