:export {
  fontFamily: var(--font-family-sans-serif);

  colorLight: var(--light);
  colorDark: var(--dark);

  colorBlueLighter: var(--blue-lighter);
  colorBlueLight: var(--blue-light);
  colorBlueBorder: var(--blue-border);
  colorBlue: var(--blue);
  colorBlueDark: var(--blue-dark);

  colorBrown: var(--brown);

  colorGreenLightest: var(--green-lightest);
  colorGreenLighter: var(--green-lighter);
  colorGreenLight: var(--green-light);
  colorGreen: var(--green);
  colorGreenDark: var(--green-dark);

  colorGreyLighter: var(--grey-lighter);
  colorGreyLight: var(--grey-light);
  colorGrey: var(--grey);
  colorGreyDark: var(--grey-dark);
  colorGreyDarker: var(--grey-darker);

  colorRed: var(--red);
  colorOrangeLighter: var(--orange-lighter);
  colorOrange: var(--orange);

  textSizeMin: var(--text-size-min);
  textSize: var(--text-size);
  textSizeBlog: var(--text-size-blog);
  textSizeSubtitle: var(--text-size-subtitle);
  textSizeTitle: var(--text-size-title);
  textSizeLarge: var(--text-size-large);

  offsetSmall: var(--offset-small);
  offsetMedium: var(--offset-medium);
  offsetLarge: var(--offset-large);

  transitionFast: var(--transition-fast);

  borderRadius: var(--border-radius);
}
