:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;

  &:not(input) {
    user-select: none;
  }
}

body {
  font-family: var(--font-family-sans-serif);
  background-color: var(--brown);
}

body,
button,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

figure,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

input::-ms-clear {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  outline: none;
}

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content;
    }
  }
}

@include headings() {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  font: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  appearance: none;
}
