// Keep in sync with 'services/constants.ts':
:root {
  /* fonts */
  --font-family-sans-serif: "Open Sans", "Helvetica Neue", Roboto, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --light: #fff;
  --dark: #000;

  --blue-lighter: #f3f8ff;
  --blue-light: #dee8f5;
  --blue-border: #c3d4ec;
  --blue: #5e91cc;
  --blue-dark: #5386c2;
  --blue-darker: #246ec2;

  --brown: #2c2e2b;
  --brown-dark: #353536; // new
  --brown-darker: #1f1d1d; // new

  --green-lightest: #f2f5ea;
  --green-lighter: #ebf3d9;
  --green-light: #cbde98;
  --green: #accc58;
  --green-dark: #9dc53b;

  --grey-lighter: #e4e6e5;
  --grey-light: #bfbebf;
  --grey: #9d9c9e;
  --grey-dark: #808184;
  --grey-blue: #444c56;
  --grey-dark2: #3e3e3e; // new
  --grey-darker: #2c2e2b;

  --red: #f40000;
  --orange-lighter: #fbebd4;
  --orange: #f2951f;
  --pink: #ec6ecc; // new

  --text-size-min: 1.2rem;
  --text-size: 1.5rem;
  --text-size-blog: 1.8rem;
  --text-size-subtitle: 2.2rem;
  --text-size-title: 4rem;
  --text-size-large: 4.8rem;

  --offset-tiny: 0.3rem;
  --offset-small: 0.5rem;
  --offset-medium: 1rem;
  --offset-large: 2rem;

  --transition-fast: 200ms;

  --border-radius: 6px;
}
