.Container {
  padding: var(--offset-large);
}

.Paper {
  position: relative;
  background-color: var(--grey-dark2);
}

.Filesystem {
  display: flex;
  align-items: center;
  color: var(--grey-light);
  font-size: var(--text-size-subtitle);
  font-weight: 400;

  .NameGroup {
    margin-left: var(--offset-medium);

    .Name {
      color: var(--blue);
      font-style: italic;
    }
  }
}
