.Container {
  width: 100%;
}

.CategoryName {
  margin-bottom: var(--offset-medium);
  padding: var(--offset-small) 0 var(--offset-medium);
  color: var(--blue);
  font-size: var(--text-size);
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid var(--grey-blue);
}

.List {
  display: flex;
  flex-wrap: wrap;
}

.ListItem {
  margin-right: var(--offset-medium);
  margin-bottom: var(--offset-medium);
}

.CheckChip {
  font-size: var(--text-size-min);

  span {
    color: var(--grey-light);
    background-color: var(--brown);
    transition: all var(--transition-fast) ease-in-out;
  }

  input:checked ~ span {
    color: var(--brown);
    background-color: var(--blue);
  }

  &:hover {
    span {
      background-color: var(--grey-dark2);
    }

    input:checked ~ span {
      color: var(--grey-light);
      background-color: var(--blue-darker);
    }
  }

  input:disabled ~ span {
    color: var(--grey);
    background-color: var(--grey-dark2);
    cursor: not-allowed;
  }
}
