.Container {
  display: flex;
  justify-content: flex-start;
  min-height: var(--offset-large);
}

.Metric {
  display: flex;
  align-items: center;
  margin-right: var(--offset-large);

  .Indicator {
    display: inline-block;
    width: 40px;
    height: var(--offset-small);
    opacity: 0.8;
    border-radius: var(--border-radius);
  }

  .Label {
    display: inline-block;
    margin-left: var(--offset-small);
    color: var(--grey-light);
    font-size: var(--text-size);
  }
}
