.Container {
  flex: 1;
  padding: 0 var(--offset-large) var(--offset-large) 0;
}

.Paper {
  background-color: var(--grey-dark2);
}

.MetricsList {
  &:not(:last-child) {
    margin-bottom: var(--offset-medium);
  }
}
