.Container {
  margin-top: var(--offset-large);
}

.Paper {
  min-height: 10vh;
  position: relative;
  background-color: var(--grey-dark2);
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
