.Container {
  width: calc(50% - var(--offset-medium));
  &:not(:last-child) {
    margin-bottom: var(--offset-large);
  }
}

.Paper {
  position: relative;
  background-color: var(--brown);
}

.OpenSnapshotButton {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 81px;
  padding: var(--offset-small);
  background-color: transparent;
  border-radius: var(--border-radius);
  transition: all var(--transition-fast) ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--grey-dark2);
  }
}

.Header {
  display: flex;
  justify-content: space-between;

  margin-bottom: var(--offset-medium);
  color: var(--grey);
  font-size: var(--text-size);

  .Filesystem {
    color: var(--green-dark);
    font-style: italic;
  }
}

.MetricLogs {
  display: flex;
  flex-wrap: wrap;
}

.MetricLabel {
  margin-right: var(--offset-small);
  margin-bottom: var(--offset-small);
  padding: var(--offset-tiny) var(--offset-small);
  background-color: var(--blue);
  border-radius: var(--border-radius);
}

.RemoveButton {
  margin-top: var(--offset-small);
  padding: var(--offset-small);
  opacity: 0.4;
  font-size: var(--text-size-min);
  background-color: var(--pink);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-fast) ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
