.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.Container {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 70%;
  padding: 1rem 4rem 0;
  background-color: var(--brown);
  transform: translateY(-50%);
  cursor: pointer;
}

.Header {
  display: flex;
  justify-content: space-between;

  margin-bottom: var(--offset-medium);
  color: var(--grey);
  font-size: var(--text-size);

  .Filesystem {
    color: var(--green-dark);
    font-style: italic;
  }
}
